.layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 220px;
  background-color: #1f2937;
  /* cinza escuro */
  color: #fff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-header {
  height: 60px;
  background-color: #111827;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.content {
  flex: 1;
  padding: 24px;
  background-color: #f3f4f6;
}
